$color-main: #BEA67C;
$color-light: #FFF;
$color-dark: #000;

//$fontBlack:'Source Sans Pro', Black 900;
//$fontSemiBold:'Source Sans Pro', SemiBold 600;
//$fontSemiBoldItalic:'Source Sans Pro', SemiBold 600 Italic;
//$fontBold:'Source Sans Pro', Bold 700;
$fontRegular:'Source Sans Pro', Regular 400;

$fontFamily: 'Source Sans Pro', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.active {
  opacity: 100%;
}

.container {
  opacity: 0%;
}